.not-found-bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.not-found-img {
  height: 50vh;
}
.page-not-found-heading {
  color: white;
  font-weight: 700;
}
.page-not-found-paragraph {
  color: grey;
}
